.ma{
    background-color: pink;
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 300px;
    padding-left: 10% ;
    padding-top: 10%;
    padding-right: 10%;
    padding-bottom:10%;
    margin: auto;


}
.ra{
    background-color: blue;
    height: 400px;
    width: 255px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: auto;

}
td{
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom:6px;
    
   
}
.input{
    background-color: aliceblue;
    
}
input[type="text"]
         {
         background-color:white;
         border: solid black 2px;
         width:100%
         margin-left:0px;
         height: 50px;
         }
button{
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 #080808, 0 6px 20px 0 rgba(145, 16, 177, 0.19);
    size: px;
    
}
button
{
    width: 95%;
    background-color: lightgrey;
    color: black;
    height: 50px;
    font-size: 22px;
    
    border: none;
}
table
{
    width: 100%;
}
.b{
    width: 95%;
    height: 50px;
    border-radius: 50%;
    background-color:  lightgray;
    border: none;
    
}
#answer{
    padding-left: 24px;
    padding-right: 24px;
}